header.header
  .header-container
    .header-left
        .inner-logo
            a(href="/")
                img(src="/image/logo.svg", alt="logo")

    .header-right
        .inner-menu
            ul
                li
                    a(href="/") Trang Chủ
                li
                    a(href = "/products") Sản Phẩm
