.sider Sider
    .inner-menu
                ul
                    li
                        a(href=`/${prefixAdmin}/dashboard`) Trang Chủ
                    li
                        a(href = `/${prefixAdmin}/products`) Sản Phẩm
